{% extends "base.html" %}

{% block content %}
<h2 class="text-center mt-4">Works log</h2>
{% if current_user %}
<div class="d-flex my-4">
  <a href="/departments" class="btn btn-secondary">Департаменты</a>
  <a href="/jobs" class="btn btn-secondary mx-2">Добавить работу</a>
</div>
{% endif %}
{% for job in jobs %}
{% set finish_status_style = "table-danger" %}
{% if job.is_finished %} {% set finish_status_style = "table-primary" %} {% endif %}
<h3>Action # {{ job.id }}</h3>
<table class="table">
  <thead>
    <tr class="table-secondary">
      <th scope="col">Title of activity</th>
      <th scope="col">Team leader</th>
      <th scope="col">Duration</th>
      <th scope="col">List of collaborators</th>
      <th scope="col">Hazard category</th>
      <th scope="col">is finished</th>
    </tr>
  </thead>
  <tbody>
    <tr class="purple">
      <td>{{ job.job }}</td>
      <td>{{ job.user.name }} {{ job.user.surname }}</td>
      <td>{{ job.work_size }} hours</td>
      <td>{{ job.collaborators }}</td>
      <td>{% for cat in job.categories %} <div class="badge bg-secondary">{{ cat.name }}</div> {% endfor %}</td>
      <td class="{{ finish_status_style }}">{% if job.is_finished %}Is finished{% else %}Is not finished{% endif %}</td>
    </tr>
  </tbody>
</table>
{% if current_user.id == job.team_leader or current_user.id == 1 %}
<div class="d-flex mb-4">
  <a href="/jobs/{{ job.id }}" class="btn btn-warning mx-2">Редактировать</a>
  <a href="/jobs/{{ job.id }}/delete" class="btn btn-danger">Удалить</a>
</div>
{% endif %}
{% endfor %}
{% endblock %}
